<ion-view title="All Expenses">
    <ion-content>

        <div class="full-image text-center no-entries-placeholder" ng-if="allExpensesVM.allExpenses.length < 1">
            <i class="icon ion-pricetags"></i>
            <p>
                No Expenses Logged Yet
            </p>
        </div>

        <div class="expense-list full-image padding" ng-repeat="expense in allExpensesVM.allExpenses">
            <div class="row">
                <div class="col col-66 item-text-wrap expense-description">
                    {{expense.mobilecaddy1__Short_Description__c}}
                </div>

                <div class="col expense-meta">
                    <div class="expense-date">
                        {{expense.CreatedDate}}
                    </div>
                    <div class="expense-price">
                        {{expense.mobilecaddy1__Expense_Amount__c | currency: '£'}}
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
