<ion-view title="All Expenses">
    <ion-content>

        <div class="full-image text-center no-entries-placeholder" ng-if="allExpensesVM.allExpenses.length < 1">
            <i class="icon ion-images"></i>
            <p>
                No Expenses Logged Yet
            </p>
        </div>

        <div class="expense-list full-image padding">
            <div class="row">
                <div class="col col-66 item-text-wrap expense-description">
                    This is a sample text for the description of an expense
                </div>

                <div class="col expense-meta">
                    <div class="expense-date">
                        15/01/2016
                    </div>
                    <div class="expense-price">
                        £600.00
                    </div>
                </div>
            </div>
        </div>

        <div class="expense-list full-image padding">
            <div class="row">
                <div class="col col-66 item-text-wrap expense-description">
                    This is a sample text for the description of an expense
                </div>

                <div class="col expense-meta">
                    <div class="expense-date">
                        15/01/2016
                    </div>
                    <div class="expense-price">
                        £600.00
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
