<ion-view title="Projects">

    <ion-nav-buttons side="right">
        <mc-sync-spinner></mc-sync-spinner>
    </ion-nav-buttons>

    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="projectsVM.projectSearch.projectName">
            </label>
        </div>

        <ion-scroll id="project-list" zooming="false" direction="y">
            <ion-list>
                <ion-item
                        class="item mti-item"
                        collection-repeat="project in projectsVM.projects | filter:projectsVM.projectSearch.projectName"
                        ui-sref="tab.project-detail({projectID : project.Id, projectLocationID : project.mobilecaddy1__MC_Project_Location__c})">
                    <h3>{{project.Name}}</h3>
                    <p>{{project.mobilecaddy1__Description__c}}&nbsp;</p>
                </ion-item>
            </ion-list>
        </ion-scroll>

    </ion-content>

    <button id="projects-sync-button" class="ng-hide sync-button button button-small button-positive" ng-click="projectsVM.refreshAndSyncProjects()">
    </button>
</ion-view>
