// Import MobileCaddy SCSS
@import 'mobilecaddy';

// Ionic overrides

$positive:							#2aa3fe;
$item-divider-bg:				#caecd3;
$list-header-color:			#caecd3;
$button-light-border:		#7fd291;
$balanced:  #7fd291;

@import "ionic/ionic";

//  A P P    S T A R T    P A G E
#start-page {
  // Could style your apps startpage here.
  background:
  // LOGO
  url('../img/logo.png' ) no-repeat center 50px,
  #004576;
  height: 4000px; // needed to display whilst Ionic is initialising
}

#start-page .card {
  box-shadow: none;
  background-color : transparent;
  position: absolute;
  top: 150px;
}

#start-page .card p{
  text-align: center;
  color: #fff;
}

#start-page .card .item {
  border: 0;
  background-color : transparent;
}

// your slick app styles can go here...

ion-nav-view { background-color: #fff; }


.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

a.item-content:hover {
	background-color: $item-divider-bg;}

.card {box-shadow: 0 1px 1px $button-light-border;}

a.disabled {
   pointer-events: none;
   cursor: default;
   color: grey;
}

.search-input {
  margin-right: 0px !important;
}

.search-clear-button {
  position: absolute;
  right: 0;
  top: 0px;
  color: #bbb;
}

.sync-button {
  width: 100%;
  position: fixed;
  bottom: 48px;
  z-index: 9999;
}

div.project-info button.button-outline{
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.project-info div.project-info-icon-desc div.col{
  margin-bottom: -15px;
  font-size: smaller;
}

div.project-options div.col > p{
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
}

div.project-options div.col > i.button-icon:before{
  font-size: 45px;
  margin-bottom: 7.5px;
}

div.project-options{
  margin-top: 20px;
}

.col-offset-12-5 {
  margin-left: 12.5%;
}

div.row > div.col.col-75.expense-receipt-container{
  height: 300px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.15);
}

div.receipt-placeholder{
  margin-top: 20%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

div.receipt-placeholder > p,i{
  color: #c8c8c8;
  z-index: -10;
}

div.receipt-placeholder > i{
  font-size: 7em;
}

div.receipt-placeholder > p{
  font-size: 1em;
}

i.dismiss-receipt-icon{
  position: relative;
  right: -50%;
  top: -0.5em;
  text-align: right;
  font-size: 3.5em;
}

div.row.receipt-container{
  margin-top: 40px;
}

